on:
  workflow_call:
    inputs:
      versions:
        required: true
        type: string
      openshift-versions:
        required: false
        type: string
        default: "[]"
    secrets:
      TF_PUBLIC_API_KEY:
        required: true
      TF_INTERNAL_API_KEY:
        required: true

jobs:
  check_readme:
    name: Check README version table
    runs-on: ubuntu-latest
    if: |
      github.event.issue.pull_request
      && (contains(github.event.comment.body, '[test]')
      || contains(github.event.comment.body, '[test-pytest]')
      || contains(github.event.comment.body, '[test-openshift]')
      || contains(github.event.comment.body, '[test-openshift-pytest]')
      || contains(github.event.comment.body, '[test-all]')
      )
      && contains(fromJson('["OWNER", "MEMBER"]'), github.event.comment.author_association)
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          ref: "refs/pull/${{ github.event.issue.number }}/head"
          submodules: true
   
      - name: Update the available versions table in README.md
        id: check
        shell: bash
        run: |
          sha=$(git rev-parse HEAD)
          sudo apt update && sudo apt -y install python3 python3-natsort
          result="failure"
          git status
          make version-table
          if git diff --ignore-submodules=all --exit-code ; then
            result="success"
          fi
          echo "result=$result" >> "$GITHUB_OUTPUT"
          echo "sha=$sha" >> "$GITHUB_OUTPUT"

      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@v2.0.0
        with:
          status: ${{ steps.check.outputs.result }}
          context: "README table check"
          sha: ${{ steps.check.outputs.sha }}

      - name: Exit on ERR
        shell: bash
        run: |
          _result=${{ steps.check.outputs.result }}
          if [[ "$_result" == "failure" ]]; then
            echo "Incorrect version table in README.md"
            echo "Please re-generate it with:"
            echo "'make version-table'"
            echo "Note that you need to have 'python' and 'python-natsort' installed"
            exit 1
          fi
  
  get_test_cases:
    needs: check_readme
    name: "Setup test case list"
    runs-on: ubuntu-latest
    outputs:
      cases: ${{ steps.get_cases.outputs.cases }}
      ocp_cases: ${{ steps.get_cases.outputs.ocp_cases }}
      container: ${{ steps.get_cases.outputs.container }}
      openshift: ${{ steps.get_cases.outputs.openshift }}
    steps:
      - id: get_cases
        run: |
          if ${{ contains(github.event.comment.body, '[test]') 
              || contains(github.event.comment.body, '[test-pytest]') 
              || contains(github.event.comment.body, '[test-all]') }}; then
            echo "container=true" >> "$GITHUB_OUTPUT"
            if ${{ !contains(github.event.comment.body, '[test]') }}; then
              echo "cases=['container-pytest']" >> "$GITHUB_OUTPUT"
            elif ${{ !contains(github.event.comment.body, '[test-pytest]') }}; then
              echo "cases=['container']" >> "$GITHUB_OUTPUT"
            else
              echo "cases=['container','container-pytest']" >> "$GITHUB_OUTPUT"
            fi
          else
            echo "container=false" >> "$GITHUB_OUTPUT"
          fi
          if ${{ contains(github.event.comment.body, '[test-openshift]') 
              || contains(github.event.comment.body, '[test-openshift-pytest]') 
              || contains(github.event.comment.body, '[test-all]') }}; then
            echo "openshift=true" >> "$GITHUB_OUTPUT"
            if ${{ !contains(github.event.comment.body, '[test-openshift]') }}; then
              echo "ocp_cases=['openshift-pytest']" >> "$GITHUB_OUTPUT"
            elif ${{ !contains(github.event.comment.body, '[test-openshift-pytest]') }}; then
              echo "ocp_cases=['openshift-4']" >> "$GITHUB_OUTPUT"
            else
              echo "ocp_cases=['openshift-4','openshift-pytest']" >> "$GITHUB_OUTPUT"
            fi
          else
            echo "openshift=false" >> "$GITHUB_OUTPUT"
          fi

  container-tests:
    needs: get_test_cases
    name: "${{ matrix.test_case }} tests: ${{ matrix.version }} - ${{ matrix.os_test }}"
    runs-on: ubuntu-latest
    if: needs.get_test_cases.outputs.container
    concurrency:
      group: ${{ matrix.test_case }}-${{ github.event.issue.number }}-${{ matrix.version }}-${{ matrix.os_test }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJSON(inputs.versions) }}
        os_test: [ "fedora", "rhel8", "rhel9", "rhel10", "c9s", "c10s" ]
        test_case: ${{ fromJSON(needs.get_test_cases.outputs.cases) }}

    steps:
      - uses: sclorg/tfaga-wrapper@main
        with:
          os_test: ${{ matrix.os_test }}
          version: ${{ matrix.version }}
          test_case: ${{ matrix.test_case }}
          public_api_key: ${{ secrets.TF_PUBLIC_API_KEY }}
          private_api_key: ${{ secrets.TF_INTERNAL_API_KEY }}

  check-imagestreams:
    needs: get_test_cases
    name: "Check imagestreams"
    runs-on: ubuntu-latest
    if: needs.get_test_cases.outputs.openshift
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: sclorg/ci-scripts/ocp-stream-generator@master
        with:
          ref: "refs/pull/${{ github.event.issue.number }}/head"

  openshift-tests:
    name: "${{ matrix.test_case }} tests: ${{ matrix.version }} - ${{ matrix.os_test }}"
    runs-on: ubuntu-latest
    needs: check-imagestreams
    concurrency:
      group: ${{ matrix.test_case }}-${{ github.event.issue.number }}-${{ matrix.version }}-${{ matrix.os_test }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJSON(inputs.openshift-versions) }}
        os_test: [ "rhel8", "rhel9", "rhel10" ]
        test_case: ${{ fromJSON(needs.get_test_cases.outputs.ocp_cases) }}

    steps:
      - uses: sclorg/tfaga-wrapper@main
        with:
          os_test: ${{ matrix.os_test }}
          version: ${{ matrix.version }}
          test_case: ${{ matrix.test_case }}
          public_api_key: ${{ secrets.TF_PUBLIC_API_KEY }}
          private_api_key: ${{ secrets.TF_INTERNAL_API_KEY }}

